VITE_API_BASE_URL=https://ollama-llama3-457478546557.asia-southeast1.run.app
VITE_FIREBASE_CONFIG={"apiKey":"AIzaSyBKXRmwQVLp6AgBNUe7tvXyGX-34vQTlD4","authDomain":"cs-yash-ai-firebase.firebaseapp.com","projectId":"cs-yash-ai-firebase","storageBucket":"cs-yash-ai-firebase.firebasestorage.app","messagingSenderId":"1022242317249","appId":"1:1022242317249:web:34da63b20eabec2b1b4540","measurementId":"G-TRF4NZHW64"}
VITE_FIRESTORE_ENABLED=true
VITE_PUBLIC_API_KEY=yaT4bdpNuf1RcVYXYdVfySEh8KbWw3uQNbbX9kdRSFE
VITE_ADMIN_PASSWORD=replace-with-a-strong-password
